<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <i class="fa fa-plane fa-3x"></i>
                        </td>
                        <td>
                            <u i18n="@@f83166ea9946edcd05d1aa0d95d999f5abcae5a3">Plane</u>
                            <div class="row" i18n="@@ca2db8c2761be4bec821d6536404c929bed6be23">
                                Marseille Airport is 78km away (48 miles).
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-train fa-3x"></i>
                        </td>
                        <td>
                            <u i18n="@@53b90b2c08de47d989c191cb36b85a044e25908a">Train</u>
                            <div class="row" i18n="@@1c099462b7278bc7950600fb81e2f6201bcc4989">
                                Manosque railway station is 14km away (8.7 miles).
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-car fa-3x"></i>
                        </td>
                        <td>
                            <u i18n="@@5efc3f391f7ea3bc40fa42ac9fa0975e2ba6275a">Car</u>
                            <div class="row" i18n="@@17faf44f94985056d6326547188db117c02b7bfd">
                                If you are on motorway A7, exit at Senas,
                                you can also come from motorway A51 and exit at Greoux or Manosque
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" i18n="@@75901fbabef7a79fbc5c09e3153a9d3e728f5342">
                In the heart of the Verdon Canyon, the lake Sainte-croix is 23km away (14 miles)
            </div>
            <div class="row" i18n="@@798124d7a9fc675dc491cb666ec7816104db5534">
                Aix en Provence is 50km away (31 miles)
            </div>
        </div>
        <div class="col-6">
            <iframe width="100%" height="500px" frameborder="0" scrolling="no" 
                    marginheight="0" marginwidth="0" 
                    src="http://maps.google.fr/maps?f=d&amp;hl=fr&amp;geocode=&amp;saddr=Chemin+de+Sainte-Annette,+04800+Gr%C3%A9oux-les-Bains&amp;daddr=&amp;mra=pr&amp;sll=43.770102,5.873566&amp;sspn=0.38874,0.922852&amp;ie=UTF8&amp;ll=43.770102,5.873566&amp;spn=0.38874,0.922852&amp;output=embed&amp;s=AARTsJrTLWLWMKcVQ4tAB20zIJURDyWQCA"></iframe>
            <br />
            <a href="http://maps.google.fr/maps?f=d&amp;hl=fr&amp;geocode=&amp;saddr=Chemin+de+Sainte-Annette,+04800+Gr%C3%A9oux-les-Bains&amp;daddr=&amp;mra=pr&amp;sll=43.770102,5.873566&amp;sspn=0.38874,0.922852&amp;ie=UTF8&amp;ll=43.770102,5.873566&amp;spn=0.38874,0.922852&amp;source=embed" style="color:#0000FF;text-align:left">
                Google Maps
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>