<div class="container-fluid">
    <div class="row">
        {{"fares.title" | translate}}
    </div>
    <div class="row stuck">
        <table id="faresTab">
            <tbody>
                <tr>
                    <td *ngFor="let faresItem of fares">
                        <table class="equal-width" border="2" *ngIf="faresItem.category !== 'Taxes_de_sejour'">
                            <tr>
                                <td class="category-td">
                                    {{"fares."+faresItem.category | translate}}
                                </td>
                                <td>{{faresItem.value}} &euro;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row stuck">
        {{"fares.discount" | translate}}
    </div>
</div>
<router-outlet></router-outlet>
