<ngb-carousel>
    <ng-template ngbSlide>
        <img src="resources/img/carousel/landscape.jpg" alt="Landscape">
        <div class="carousel-caption">
            <h3 i18n>
                Studio apartment with all comfort, a stone's throw from the
                thermal baths in Greoux-les-Bains (Provence, France)
            </h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="resources/img/carousel/cure.jpg"  alt="Cure">
        <div class="carousel-caption dark">
            <h3 i18n>
                With Chaîne Thermale du Soleil, enjoy thermal baths steeped in history,
                where the calm you need for relaxing and recovering prevails. The staff
                is always nice and polite and pays close attention to the customers. It's clean
                and well maintained.
            </h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="resources/img/carousel/apartment.jpg" alt="Apartment">
        <div class="carousel-caption dark">
            <h3 i18n>
                Are you looking for a studio to rent peer-to-peer ?
                <br/>
                For several years, 100% of our customers have been satifisfied 
                of the place where we welcome you.
                <br/>
                Please feel free to contact us.
            </h3>
<!--            <p>This carousel uses customized default values.</p>-->
        </div>
    </ng-template>
</ngb-carousel>