
body {
    	font-family: 'arial';
    	color: black;
 	background-image: url(back.gif);
	text-align: center;
}

table {
	width:70%;
	text-align: center;
	border-spacing : 5px 2px;
	font-weight: bold ;
}
.available {
	background-color: #00ee00;
}
.busy {
	background-color: #ee0000;
}
