<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <u>Services:</u>
            <p>
                Le ménage est fait à votre arrivée
                Micro-ondes, four
                Télévision et lecteur DVD
                Balcon coté sud
                Ascenseur
                Parking
            </p>
        </div>
        <div class="col-6">
            <u>Conditions:</u>
            <p>
                A la réservation, 25% du montant de la location
                A l'arrivée, un état des lieux sera fait. Une liste de l'agencement vous sera remis et un 
                chèque de caution de 250 euros vous sera demandé mais ne sera pas encaissé et il vous sera restitué à votre départ si tout est conforme.
                Une taxe de séjour perçue par la mairie par personne sera en supplément des tarifs indiqués.
                Nos amies les bêtes ne sont pas acceptées dans ce studio
                Toute semaine entamée est entièrement dûe
                Pour réserver, il suffit de remplir le formulaire en ligne, avec vos coordonnées.
                Vous téléchargerez un formulaire au format pdf 
                que vous devez imprimer, nous renvoyer rempli et signé.
                Votre réservation sera définitive en joignant à ce formulaire un chèque
                de 25% du montant de la location.

                Si vous ne possédez pas d'imprimante, je peux vous faire parvenir ce formulaire après m'avoir contacté
            </p>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>