<div class="container-fluid">
    <div class="row">
        Tarifs : <br/>
        <table id="faresTab">
            <tbody>
                <tr>
                    <td *ngFor="let faresItem of fares">
                        <table class="equal-width" border="2">
                            <tr>
                                <td class="category-td">{{faresItem.category}}</td>
                                <td>{{faresItem.value}} &euro;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-1">
            Check-in
        </div>
        <!-- https://stackoverflow.com/questions/37280810/angular2-directive-with-scope -->
        <div class="col-2">
            <ngbd-datepicker-config ngModel name="dateBeg" #dateBeg></ngbd-datepicker-config>
        </div>
        <div class="col-1">
            Check-out <br/>
        </div>
        <div class="col-2">
            <ngbd-datepicker-config ngModel name="dateEnd" #dateEnd></ngbd-datepicker-config>
        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <button  type="button" class="btn btn-primary btn-lg btn-block" (click)="checkDates(dateBeg.model)">
                Check Availability
            </button>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>
<router-outlet></router-outlet>