<div class="container-fluid">
    <div class="row">
        Tarifs : <br/>
        <table id="faresTab">
            <tbody>
                <tr>
                    <td *ngFor="let faresItem of fares">
                        <table class="equal-width" border="2">
                            <tr>
                                <td class="category-td">{{faresItem.category}}</td>
                                <td>{{faresItem.value}} &euro;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <form  #faresForm="ngForm">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-1">
                Check-in
            </div>
            <div class="col-2">
            <ngbd-datepicker-config [(ngModel)]="dateBeg"></ngbd-datepicker-config>
            </div>
            <div class="col-1">
                Check-out <br/>
            </div>
            <div class="col-2">
            <ngbd-datepicker-config [(ngModel)]="dateEnd"></ngbd-datepicker-config>
            </div>
            <div class="col-1">
            </div>
            <div class="col-2">
                <button  type="button" class="btn btn-primary btn-lg btn-block" (click)="checkDates(dateBeg)">
                    Check Availability
                </button>
            </div>
            <div class="col-1">
            </div>
        </div>
    </form>
</div>
<router-outlet></router-outlet>