<footer class="footer">
    <div class="container row">
        <div class="col-4">
            <u>Email:</u> greouxlocation@free.fr
        </div>
        <div class="col-4">
            <u>Telephone:</u> 
            Fixe : +33(0)9.50.24.42.73.
            Mobile : +33(0)6.14.90.88.30.
        </div>
        <div class="col-4">
            <u>Adresse:</u> 
            Mr et Mme ANNE
            Les jardins d’Emilie
            Bt C
            42, traverse Rottweil
            83400 Hyères
            FRANCE
        </div>
    </div>
</footer>