<footer class="footer">
    <div class="row">
        <div class="col-4">
            <i class="fa fa-envelope fa-lg"></i><u>Email:</u> <br/>
            greouxlocation@free.fr
        </div>
        <div class="col-4">
            <i class="fa fa-phone fa-lg"></i> <u>Telephone:</u> <br/>
            Fixe : +33(0)9.50.24.42.73.<br/>
            Mobile : +33(0)6.14.90.88.30.
        </div>
        <div class="col-4">
            <i class="fa fa-pencil-square-o fa-lg"></i><u>Adresse:</u> <br/>
            Mr et Mme ANNE<br/>
            Les jardins d’Emilie, Bt C<br/>
            42, traverse Rottweil<br/>
            83400 Hyères<br/>
            FRANCE
        </div>
    </div>
</footer>