<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <u i18n="@@b5806e1d10d093c411da07dfa6c4a6929201798d">Services:</u>
            <ul class="no-bullets">
                <li i18n="@@681e3d8078b69bd70ef933c5fa2a3496af188c68">
                    <span class="fugue-broom"></span>House cleaning will be done before your arrival
                </li>
                <li i18n="@@4e1f92a01e8fff1740a291e86362b8914d99c78b">
                    <span class="fugue-cookies"></span>Microwaves and oven
                </li>
                <li i18n="@@3e5a2489f824e005103261e96660184e07b1cdae">
                    <span class="fugue-television"></span>Flat screen television and DVD player
                </li>
                <li i18n="@@8ce0474423aa591a760671e817b84ce407232233">
                    <span class="fugue-sun"></span>A sunny balcony
                </li>
                <li i18n="@@ec4f02d2640ef7245a9890ec08f2056689a411f3">
                    <span class="fugue-lift"></span>Elevators
                </li>
                <li i18n="@@e6d48ea27f63586df0ce33b638c737cec54330fe">
                    <span class="fugue-car"></span>Parking
                </li>
                <li i18n="@@e3ec8af202387f237c2c97c6cf54fc994fbdcd27">
                    <span class="fugue-store"></span>Supermarket nearby
                </li>
            </ul>
        </div>
        <div class="col-6">
            <u i18n="@@e9b9f57c07bf7b8f8046fec5f8c173c5422a110b">Conditions:</u>
            <ul>
                <li i18n="@@289416841cf0591304c44638234de8aef9e9ae6f">
                    When you book, you will be requested pay 25% of the total amount
                </li>
                <li i18n="@@3b17de0f4387c4fd603dd2e963e8b9db8072f015">
                    When arriving, we proceed together to an incoming inventory of fixtures. A 250€ cheque (or cash) will be required
                    but will not be cashed and it will be returned to you when you leave if everything is all right.
                </li>
                <li i18n="@@076ecba16e5d004b76a41520c514b45fe163fcab">
                    A tourist tax is collected by the town hall, per person and is an extra added to the fares we tell you.
                </li>
                <li i18n="@@2a7a4095330e926a328193f150d4729e95f8e04b">
                    Our pet friends are not allowed in the residence
                </li>
                <li i18n="@@1d3467e1464fa41cac500a4cf6ec9c387b20f533">
                    Any week under way is due to the end
                </li>
                <li i18n="@@732cafc07d8470090e67cde09cfc5636ba21838f">
                    If you want to book, just fill in the <a href="assets/form.pdf">online form</a> with your details
                    Please dowload the pdf form you will have to print it and send it to us printed and signed by the post.
                    Your reservation will be definitely taken into account when you attach the cheque to the form.
                    <br/>
                    If you don't have a printer, please call me and I'll send it to you
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>