<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <u>{{"equipment.services.title" | translate}}</u>
            <ul class="no-bullets">
                <li>
                    <span class="fugue-broom"></span>
                    {{"equipment.services.broom" | translate}}
                </li>
                <li>
                    <span class="fugue-television"></span>
                    {{"equipment.services.screen" | translate}}
                </li>
                <li>
                    <span class="fugue-cookies"></span>
                    {{"equipment.services.microwaves" | translate}}
                </li>
                <li>
                    <span class="fugue-sun"></span>
                    {{"equipment.services.sun" | translate}}
                </li>
                <li>
                    <span class="fugue-lift"></span>
                    {{"equipment.services.elevators" | translate}}
                </li>
                <li>
                    <span class="fugue-car"></span>
                    {{"equipment.services.parking" | translate}}
                </li>
                <li>
                    <span class="fugue-store"></span>
                    {{"equipment.services.supermarket" | translate}}
                </li>
            </ul>
        </div>
        <div class="col-6">
            <u>{{"equipment.conditions.title" | translate}}</u>
            <ul>
                <li>
                    {{"equipment.conditions.one" | translate}}
                </li>
                <li>
                    {{"equipment.conditions.two" | translate}}
                </li>
                <li>
                    {{"equipment.conditions.three" | translate}}
                </li>
                <li>
                    {{"equipment.conditions.four" | translate}}
                </li>
                <li>
                    {{"equipment.conditions.five" | translate}}
                </li>
                <li>
                    {{"equipment.conditions.six.one" | translate}} <a href="assets/form.pdf" target="_blank">{{"equipment.conditions.six.two" | translate}}</a> 
                    {{"equipment.conditions.six.three" | translate}}
                    <br/>
                    {{"equipment.conditions.six.four" | translate}}
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>