<footer class="footer">
    <div class="row">
        <div class="col-4">
            <i class="fa fa-pencil-square-o fa-lg"></i>
            <u i18n="@@3a27ee8b2133e98ed72de3d335b931a6f1d181bc">Adress:</u> <br/>
            <div i18n="@@ba37409082d27b2e415b3d61d56c72aa6063c5a4">
                Mr et Mme ANNE<br/>
                Les jardins d’Emilie, Bt C<br/>
                42, traverse Rottweil<br/>
                83400 Hyères<br/>
                FRANCE
            </div>
        </div>
        <div class="col-4">
            <i class="fa fa-phone fa-lg"></i> 
            <u i18n="@@ba2ef160f84d512c70ce6dff32972895a8f26b51">Phone:</u> <br/>
            <div i18n="@@f0a586035aad0e8a688e27dacb97a960b0580e93">
                Landline : +33(0)9.50.24.42.73.<br/>
                Mobile : +33(0)6.14.90.88.30.
            </div>
        </div>
        <div class="col-4">
            <i class="fa fa-envelope fa-lg"></i>
            <u i18n="@@91b96d7228b6e05c238fa4e39abfc17ad51a6eef">
                Email:
            </u> <br/>
            <div i18n="@@64a585698e099aea986f009d44ef5d2eb45a36e3">
                greouxlocation@free.fr
            </div>
        </div>
    </div>
</footer>