<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <i class="fa fa-plane fa-3x"></i>
                        </td>
                        <td>
                            <u>{{"greoux.plane"| translate}}</u>
                            <div class="row">
                                {{"greoux.airport"| translate}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-train fa-3x"></i>
                        </td>
                        <td>
                            <u>{{"greoux.train"| translate}}</u>
                            <div class="row">
                                {{"greoux.railway"| translate}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-car fa-3x"></i>
                        </td>
                        <td>
                            <u>{{"greoux.car"| translate}}</u>
                            <div class="row">
                                {{"greoux.motorway"| translate}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                {{"greoux.canyon"| translate}}
            </div>
            <div class="row">
                {{"greoux.aix"| translate}}
            </div>
        </div>
        <div class="col-6">
            <iframe width="100%" height="500px" frameborder="0" scrolling="no"
                    marginheight="0" marginwidth="0"
                    src="https://maps.google.fr/maps?f=d&amp;hl=fr&amp;geocode=&amp;saddr=Chemin+de+Sainte-Annette,+04800+Gr%C3%A9oux-les-Bains&amp;daddr=&amp;mra=pr&amp;sll=43.770102,5.873566&amp;sspn=0.38874,0.922852&amp;ie=UTF8&amp;ll=43.770102,5.873566&amp;spn=0.38874,0.922852&amp;output=embed&amp;s=AARTsJrTLWLWMKcVQ4tAB20zIJURDyWQCA"></iframe>
            <br />
            <a href="https://maps.google.fr/maps?f=d&amp;hl=fr&amp;geocode=&amp;saddr=Chemin+de+Sainte-Annette,+04800+Gr%C3%A9oux-les-Bains&amp;daddr=&amp;mra=pr&amp;sll=43.770102,5.873566&amp;sspn=0.38874,0.922852&amp;ie=UTF8&amp;ll=43.770102,5.873566&amp;spn=0.38874,0.922852&amp;source=embed" style="color:#0000FF;text-align:left">
                Google Maps
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
