.navbar-toggler {
    border: solid 1px silver;
    border-radius: 2px;
    color: #eee;
}
.navbar-brand > img {
    margin: -15px; 
    height: 70px;
}
nav {
    height: 70px;
    background-color: orange;
}
.nav-item > a {
    height: 70px;
    font-size: 28px;
    padding-right: 20px;
    padding-left: 20px;
}
.nav-item > a.active {
    color: #754C78;
    background-color: lightsalmon;
}
.nav-item > a.navbar-brand,
.nav-item > a.navbar-brand:focus,
.nav-item > a:hover {
    background-color: darkorange;
    color: #754C78;
    font-size: 28px;
    padding-right: 20px;
    padding-left: 20px;
}
.nav-item > a.navbar-brand  {
    padding-top: 9px;
}
.nav-item > a  {
    color: #754C78;
    padding-top: 11px;
}
nav a {
    color: #754C78;   
}

.dropdown-menu {
    min-width: 50px;
}
.dropdown-menu a.dropdown-item img {
    height: 20px;
}