<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" 
            type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img [src]="fullImagePath"/>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-link navbar-brand" [routerLink]="[brandMenu.path]">
                    <i class="fa fa-home fa-lg"></i> 
                    {{brandMenu.title | translate}}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item"  *ngFor="let menuItem of menuItems" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[menuItem.path]" routerLinkActive="active">
                    {{menuItem.title | translate}}
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" 
                   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" 
                   aria-expanded="false">
                    Language
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/index.html?locale=fr">
                        <img src="assets/img/flags/fr.svg"/>            
                    </a>
                    <a class="dropdown-item" href="/index.html?locale=en">
                        <img src="assets/img/flags/en.svg"/>            
                    </a>
                    <a class="dropdown-item" href="/index.html?locale=it">
                        <img src="assets/img/flags/it.svg"/>            
                    </a>
                    <a class="dropdown-item" href="/index.html?locale=sp">
                        <img src="assets/img/flags/sp.svg"/>            
                    </a>
                    <a class="dropdown-item" href="/index.html?locale=de">
                        <img src="assets/img/flags/de.svg"/>            
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
