<footer class="footer">
    <div class="row">
        <div class="col-4">
            <i class="fa fa-pencil-square-o fa-lg"></i>
            <u>{{"footer.address" | translate}}</u> <br/>
            Mr et Mme ANNE<br/>
            Les jardins d’Emilie, Bt C<br/>
            42, traverse Rottweil<br/>
            83400 Hyères<br/>
            FRANCE
        </div>
        <div class="col-4">
            <i class="fa fa-phone fa-lg"></i> 
            <u>{{"footer.phone" | translate}}</u> <br/>
            <div>
                {{"footer.landline" | translate}} +33(0)9.50.24.42.73.<br/>
                {{"footer.mobile" | translate}} +33(0)6.14.90.88.30.
            </div>
        </div>
        <div class="col-4">
            <i class="fa fa-envelope fa-lg"></i>
            <u>
                {{"footer.email" | translate}}
            </u> <br/>
            raymond . anne + greoux @ gmail . com
            <br/><br/>
            <a href="assets/form.pdf"  target="_blank" class="btn btn-primary btn-lg btn-block">
                <i class="fa fa-key"></i> 
                {{"footer.form" | translate}}
            </a>
        </div>
    </div>
</footer>
