
table#faresTab {
    table-layout: fixed;
}

.row {
    margin-top: 100px;
}

table {
    width: 100%;
}

.equal-width tr td {
    width: 50%;
}

.category-td {
    background-color: orange;
    color: #754C78;
    font-weight: bold;
}
