.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: orange;
    color: #754C78;
    font-weight: bold;
}
.row {
    padding-right: 30px;
    padding-left: 30px;
}
.row i {
    color: black;
    padding-right: 20px;
}