<div class="container-fluid">
    <div class="row">
        {{"fares.title" | translate}}
    </div>
    <div class="row stuck">
        <table id="faresTab">
            <tbody>
                <tr>
                    <td *ngFor="let faresItem of fares">
                        <table class="equal-width" border="2">
                            <tr>
                                <td class="category-td">
                                    {{"fares."+faresItem.category | translate}}
                                </td>
                                <td>{{faresItem.value}} &euro;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row stuck">
        {{"fares.discount" | translate}}
    </div>
    <form>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-1">
                {{"fares.checkin" | translate}}
            </div>
            <div class="col-2">
                <ngbd-datepicker-config name="dateBeg" #dateBeg (onChanged)="onChanged($event, 'dateBeg')"></ngbd-datepicker-config>
            </div>
            <div class="col-1">
                {{"fares.checkout" | translate}} <br/>
            </div>
            <div class="col-2">
                <ngbd-datepicker-config name="dateEnd" #dateEnd (onChanged)="onChanged($event, 'dateEnd')"></ngbd-datepicker-config>
            </div>
            <div class="col-1">
            </div>
            <div class="col-2">
                <button  type="button" class="btn btn-primary btn-lg" (click)="checkDates()">
                    {{"fares.availability" | translate}}
                </button>
            </div>
            <div class="col-1">
            </div>
        </div>
    </form>  
</div>
<router-outlet></router-outlet>